@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Rubik+Bubbles&family=Rubik+Vinyl&family=Tilt+Prism&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Tilt Prism", cursive;
}
body {
  display: flex;
  background-color: #3aec16;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.chronometre {
background-color: #fff;
padding: 10px;
border-radius: 6px;
width: 400px;
text-align: center;
}
}
.tim {
  margin: auto;
  width: 100%;
  border: 1px solid #999;
  border-radius: 6px;
  padding: 5px 0;
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 10px;
}
.tim span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
padding: 5px;

}
.controls {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
button {
    background-color: #c7133a;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
button:hover {
    background-color: #1f31d4;
    color: #fff;
    transform: scale(0.9);
}
